<ion-header [translucent]="true">
  <ion-toolbar color="custom1">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Alimentacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Alimentacion</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row class="ion-justify-content-start">
      <ion-col sizeLg="4" sizeMd="6" sizeXs="12" >
        <ion-card>
          <img alt="Flexiones en el suelo" src="assets/img/a1.jpg" />
          <ion-card-header>
            <ion-card-title>Ensalada de espinacas con fresas y nueces:</ion-card-title>
            <ion-card-subtitle> Ingredientes: Espinacas frescas,
              Fresas,
              Nueces,
              Vinagreta de tu elección</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="6" sizeXs="12" >
        <ion-card>
          <img alt="Flexiones en la pared" src="assets/img/a2.jpg" />
          <ion-card-header>
            <ion-card-title>Salmón a la parrilla con espárragos al limón</ion-card-title>
            <ion-card-subtitle>Ingredientes: Filete de salmón,
              Espárragos frescos,
              Limón,
              Aceite de oliva </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="6" sizeXs="12" >
        <ion-card>
          <img alt="Sentadillas con los brazos hacia adelante" src="assets/img/a3.jpg" />
          <ion-card-header>
            <ion-card-title>Yogur griego con granola y frutas frescas</ion-card-title>
            <ion-card-subtitle>Ingredientes: Yogur griego,
              Granola,
              Frutas frescas de tu elección (por ejemplo, fresas, plátanos, arándanos)</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="6" sizeXs="12" >        
      <ion-card>
        <img alt="Subida de escalón" src="assets/img/a4.jpg" />
        <ion-card-header>
          <ion-card-title>Pollo a la parrilla con brócoli al vapor</ion-card-title>
          <ion-card-subtitle>Ingredientes: Pechuga de pollo,
            Brócoli,
            Aceite de oliva,
            Sal y especias al gusto </ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
      <ion-col sizeLg="4" sizeMd="6" sizeXs="12" >
        <ion-card>
          <img alt="Puente para glúteos" src="assets/img/a5.jpg" />
          <ion-card-header>
            <ion-card-title>Quinua con verduras salteadas y aguacate</ion-card-title>
            <ion-card-subtitle>Ingredientes:  Quinua,
              Verduras mixtas ,
              Aguacate,
              Aceite de oliva,
              Sal y especias al gusto</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="6" sizeXs="12" >
        <ion-card>
          <img alt="Abdominales simples y cruzados" src="assets/img/a6.jpg" />
          <ion-card-header>
            <ion-card-title>Batido de proteínas con espinacas y plátano</ion-card-title>
            <ion-card-subtitle>Ingredientes: Proteína en polvo (sabor de tu elección),
              Espinacas frescas,
              Plátano maduro,
              Leche (o una alternativa como leche de almendra),
              Hielo (opcional) </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
