<ion-header [translucent]="true">
  <ion-toolbar color="custom1">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>

    <img alt="Silhouette of mountains" src="assets/img/12.jpg" />
    <ion-card-title class="txt1">
      <p>Sesion de entrenamiento personalizada</p>
    </ion-card-title>
    <div class="bttn1">
      <ion-button class="btn" [routerLink]="['/ejercicios']" color="custom1">IR</ion-button>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-content class="txt1">Crea tu menu Personalisado</ion-card-content>
    <img alt="Silhouette of mountains" src="assets/img/1a.jpg" />
    <div class="bttn1">
      <ion-button class="btn" [routerLink]="['/alimentacion']" color="custom1">IR</ion-button>
    </div>
  </ion-card>


</ion-content>