ion-toolbar{
    background-color: var(--ion-color-custom1);
}
ion-button{
    background-color: var(--ion-color-custom1);

}
.bttn1{
    text-align: center;
    border: 20px;
}
.txt1{
    color: var(--ion-color-custom1);
}
.txt2{
    color: var(--ion-color-custom2);
}

.btn{
    border-radius: 10px;
}